<% provide(:title, "About Shed Finder") %>
<!-- Main -->
					<article id="main">
						<header>
							<h1>About Shed Finder</h1>
							<p>We bring shed antler buyers and sellers together</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3>Why we built Shed Finder</h3>
								<p><img alt="Buy Antler Dog Chews" title="Buy Antler Dog Chews" class="contentImageRight" src="/assets/about-shed-finder.jpg"/></p>

								<p>Shed Finder was created to fill a need and bring shed antler sellers and buyers together. As a seller there is no great place to list your antlers and that is why Shed Finder was born. In recent years shed hunting has become more and more popular, meaning more people are collecting and selling antlers. With this boom in hunting many people are looking for a way to make some extra money buy selling excess antlers. We make is easy to post your antlers online and receive at least one bid.    </p>

								<hr />

								<h4>About Me</h4>
								<p>I am a web developer and an outdoor enthusiast and when I discovered the huge market for shed antlers I decided to create Shed Finder.I currently live in northern Colorado with my wife and daughter. We love hiking, four wheeling, and pretty much anything outdoors. Please feel free to <%= link_to "contact", contact_path %> me with any questions you may have, I'm always happy to hear from other outdoor enthusiasts.</p>
							</div>
						</section>
					</article>
<%= render 'layouts/footer' %>
