<% provide(:title, "Buy Antler Dog Chews") %>
<!-- Main -->
<article id="main">
    <header>
        <h1>Buy Antler Dog Chews</h1>
        <p>Buy all natural dog chews</p>
    </header>
    <section class="wrapper style5">
        <div class="inner">

            <h3>Buy All Nautural Antler Dog Chews</h3>
            <p><img alt="Buy All Natural Antler Dog Chews" title="Buy All Natural Antler Dog Chews" class="image right" src="/assets/buy-antler-dog-chews.jpg"/></p>

            <p>Dogs love antler chews and Shed finder can fill any order of any size. We cut our own chews and any order can be customized to meet your specific needs. We offer:   </p>
            <ul>
                <li>Custom orders</li>
                <li>Cheapest prices</li>
                <li>All natural chews</li>
                <li>Variety of chews </li>
                <li>Cut to order</li>
            </ul>

            <hr />

            <h4>Contact us for antler chew pricing</h4>
            <form method="post" action="#">
                <div class="row uniform">
                    <div class="6u 12u$(xsmall)">
                        <input type="text" name="chew-name" id="chew-name" value="" placeholder="Name" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <input type="email" name="chew-email" id="chew-email" value="" placeholder="Email" />
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <input type="text" name="chew-number" id="chew-number" value="" placeholder="Phone" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <div class="select-wrapper">
                            <select name="chew-type" id="chew-type">
                                <option value="">- Type -</option>
                                <option value="elk">Elk</option>
                                <option value="mule">Mule</option>
                                <option value="whitetail">Whitetail</option>
                                <option value="moose">Moose</option>
                            </select>
                        </div>
                    </div>
                    <div class="4u 12u$(small)">
                        <input type="checkbox" id="grade-a" name="chew-gradea" checked>
                        <label for="grade-a">Grade A</label>
                    </div>
                    <div class="4u 12u$(small)">
                        <input type="checkbox" id="grade-b" name="chew-gradeb">
                        <label for="grade-b">Grade B</label>
                    </div>
                    <div class="4u$ 12u$(small)">
                        <input type="checkbox" id="grade-c" name="chew-gradec">
                        <label for="grade-c">Grade C</label>
                    </div>
                    <div class="6u$ 12u$(small)">
                        <input type="checkbox" id="demo-human" name="demo-human" >
                        <label for="demo-human">Not spam</label>
                    </div>
                    <div class="12u$">
                        <textarea name="chew-message" id="chew-message" placeholder="Enter detailed message (cut size, poundage...)" rows="6"></textarea>
                    </div>
                    <div class="12u$">
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="special" /></li>
                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </div>
                </div>
            </form>

        </div>
    </section>
</article>
<%= render 'layouts/footer' %>
