<% provide(:title, "Buy Shed Antlers Online") %>
<!-- Main -->
					<article id="main">
						<header>
							<h1>Buy Shed Antlers Online</h1>
							<p>Find different types of antlers online</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3>Why buy shed antlers from Shed Finder?</h3>
								<p></p>
<img alt="Buy Shed Antlers Online" title="Buy Shed Antlers Online" class="image right" src="/assets/sell-shed-antlers.jpg"/>
								<p>There are several reasons to use Shed Finder to buy antlers:
                                    <ul>
                                        <li>Small fee if you win your bid</li>
                                        <li>It's EASY!</li>
                                        <li>Access to tons of antlers </li>
                                        <li>Find leads you might not have not known about</li>
                                        <li>Mulitple listings</li>
                                        <li>No obligation to buy</li>
                                    </ul>
                                </p>
                            <hr/>
                            <p>
                                There is no cost for signing up, it's absolutely <span class="green">FREE</span>! The only cost to you is when you win a bid. Shed Finder charges a small 'Finders Fee' (2 cents for every 1 dollar).
                            </p>
                            <hr/>
                            <h3>How it works</h3>
                            <ol>
                                <li>Sign up for FREE</li>
                                <li>Get alerts when a new listing is available</li>
                                <li>Bid on the antler listing</li>
                                <li>If you win, you pay 2 cents for every dollar ($200 bid would cost you $4)</li>
                                <li>Pay the 'Finders Fee'</li>
                                <li>Get the listings contact information</li>
                            </ol>
                            <ul class="actions" style="text-align:right">
								<li><span class="button special"><%= link_to "Sign Up",  shed_finder_sign_up_path %></span></li>
							</ul>

							</div>
						</section>
					</article>
<%= render 'layouts/footer' %>
