<% provide(:title, "Sell Your Shed Antlers") %>
<!-- Main -->
					<article id="main">
						<header>
							<h1>Sell Your Shed Antlers</h1>
							<p>Make money and sell your shed antlers!</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3>Why list your shed antlers for sale?</h3>
								<p></p>
<img alt="Sell Your Shed Antlers" title="Sell Your Shed Antlers" class="image right" src="/assets/sell-shed-antlers.jpg"/>
								<p>There are several reasons to use Shed Finder to list your antlers:
                                    <ul>
                                        <li>It's FREE!</li>
                                        <li>It's EASY!</li>
                                        <li>Get top dollar!</li>
                                        <li>Make extra money!</li>
                                        <li>No obligation, don't sell if prices aren't high enough!</li>
                                    </ul>
                                </p>
                            <hr/>
                            <p>
                            There is no cost for listing your antlers it's absolutely <span class="green">FREE</span>! Simply sign up and start listing, we also <span class="green">GUARANTEE</span> you will get at least one bid. The biggest reason to list with us is that buyers will compete for your antlers. This means you can choose to accept the bid with the highest price.
                            </p>
                            <ul class="actions" style="text-align:right">
								<li><span class="button special"><%= link_to "Sign Up",  shed_finder_sign_up_path %></span></li>
							</ul>

							</div>
						</section>
					</article>
<%= render 'layouts/footer' %>
