<% provide(:title, "Shed Finder Sign Up Success!") %>

<!-- Main -->
					<article id="main">
						<header>
							<h1>Shed Finder Sign Up Success!</h1>
						</header>
						<section class="wrapper style5">
							<div class="inner">

                            <p>
                                <span style="font-size:35px;" class="green">Success! You are now logged in.</span>
                            </p>

							</div>
						</section>
					</article>
<%= render 'layouts/footer' %>
