<% provide(:title, "Dashboard") %>
<!-- Main -->
					<article id="main">
						<header class="smallHeader">
							<h1><%= current_user.name %>'s Dashboard</h1>
						</header>
						<section class="wrapper style5">
							<div class="inner">
                                <% if current_user.admin == true %>

                                <% end %>
                                <%= link_to "Profile Settings", edit_user_path(current_user) %>

							</div>
						</section>
					</article>
<%= render 'layouts/footer' %>
