<% provide(:title, "Dashboard") %>
<!-- Main -->
					<article id="main">
						<header style="padding:3em 0 2em 0">
							<h1><%= current_user.name %>'s Dashboard</h1>
						</header>
						<section class="wrapper style5">
							<div class="inner">
                                <% if current_user.admin == true %>

                                <% end %>
							</div>
						</section>
					</article>
<%= render 'layouts/footer' %>
